@font-face {
  font-family: "Fredoka One";
  src: url("/fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("/fonts//fonts/FredokaOne-Regular.woff") format("woff"),
    url("/fonts/FredokaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/fonts/HindMadurai-Bold.woff2") format("woff2"),
    url("/fonts/HindMadurai-Bold.woff") format("woff"),
    url("/fonts/HindMadurai-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/fonts/HindMadurai-SemiBold.woff2") format("woff2"),
    url("/fonts/HindMadurai-SemiBold.woff") format("woff"),
    url("/fonts/HindMadurai-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/fonts/HindMadurai-Regular.woff2") format("woff2"),
    url("/fonts/HindMadurai-Regular.woff") format("woff"),
    url("/fonts/HindMadurai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hind Madurai";
  src: url("/fonts/HindMadurai-Medium.woff2") format("woff2"),
    url("/fonts/HindMadurai-Medium.woff") format("woff"),
    url("/fonts/HindMadurai-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/fonts/Roboto-Bold.woff") format("woff"),
    url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff"),
    url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff"),
    url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 800vh;
  font-family: Roboto;
}

img {
  display: inline-block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1125px;
}

/***** HEADER *****/

.site-header {
  margin: 0;
  padding: 10px 0;

  background: #f8edf0;
}

.header-container {
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* site logo */
.logo {
  margin: 0;

  padding: 0;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo-image {
  margin: 0;
  padding: 0;
}

/* site navbar */

.site-nav {
  margin: 0;
  padding: 0;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-item:first-child {
  margin-left: -40px;
}

.nav-item {
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

.nav-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #150101;
  opacity: 0.8;
}

.nav-item:first-child a {
  font-weight: bold;
  color: #d23166;
  opacity: 1;
}

.nav-item a:hover {
  opacity: 0.6;
}

.nav-item a:active {
  opacity: 0.4;
}

/* header buy-now button */

.universal-btn {
  margin: 0;
  padding: 0;
}

.universal-btn:hover {
  opacity: 0.8;
}

.universal-btn:active {
  opacity: 0.6;
}

.universal-btn a {
  margin: 0;
  padding: 14px 50px;
  padding-top: 14px;
  text-decoration: none;

  background: #d23166;
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
  border-radius: 5px;
}

/***** HERO *****/

.hero {
  margin: 0;
  padding: 0;
  background: #f8edf0;
}

.hero-container {
  padding: 0;
  padding-top: 196px;
  padding-bottom: 240px;
  background: url("/images/bg-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -235px top 20px;
}

.hero-left {
  margin: 0;
  display: inline-block;
  padding: 0;
  width: 662px;
}

.first-text {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.hero-left h1 {
  margin: 0;
  margin-bottom: 35px;
  font-family: Fredoka One;
  font-weight: normal;
  font-size: 57px;
  line-height: 120.5%;
  opacity: 0.9;
}

.ice-cream {
  color: #d23166;
}

.second-text {
  margin: 0;
  margin-bottom: 50px;
  width: 523px;
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #0f0101;
  opacity: 0.6;
}

/***** DELIVERY *****/

.delivery-section {
  margin: 0;
  padding: 100px 0;
}

.delivery-list {
  margin: 0 -19px;
  padding: 0;

  display: flex;
  list-style: none;
}

.delivery-item {
  margin: 0;
  margin: 19px;
  padding: 30px 26px;
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
}

.delivery-item:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
}

.delivery-item img {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  width: 51px;
  height: 43px;
}

.delivery-item h2 {
  margin: 0;
  margin-bottom: 9px;

  padding: 0;
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.delivery-item p {
  font-family: Hind Madurai;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.6;
}

/*** Details-Section ***/

.details-section {
  margin: 0;
  padding: 0;
  background: #f8edf0;
}

.details-container {
  background: url("/images/section2-image.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: right 1px top -40px;
}

.details-left {
  margin: 144px 0;
  padding: 0;
  display: inline-block;
  width: 442px;
}

.details-left h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  width: 349px;

  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
}

.details-left p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}

/**** Product Section  ****/

.product-section {
  margin: 0;
  padding: 0;
}

.product-container {
  padding: 0;
  padding-top: 137px;
  padding-bottom: 150px;
}

/* Product section. content top */

.product-top {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-top h4 {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;

  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
}

.product-top ul {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  list-style: none;
}

.product-top ul li {
  margin: 0;
  margin-left: 39px;
  padding: 0;
}
.product-top ul li:first-child {
  margin-left: 0;
}

.product-top li a {
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.6;
}

.product-top ul li:first-child a {
  border-bottom: 3px solid #d64374;
  opacity: 1;
}

.product-top ul a:hover {
  opacity: 0.4;
}

.product-top ul a:active {
  opacity: 0.2;
}

/* Product section. Main content */

.main-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-list-item {
  margin: 0;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
}

.main-list-item:nth-child(even) {
  flex-direction: row-reverse;
}

.main-list-item:nth-child(even) div {
  text-align: right;
}

.main-list-item:nth-child(4) div {
  text-align: left;
}
.img-wrapper {
  margin: 0;
  padding: 0;
}

.img-wrapper img {
  margin: 0;
}

.text-wrapper {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 454px;
}

.text-wrapper h5 {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
  font-family: Hind Madurai;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

.text-wrapper .include-after {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.text-wrapper .include-after:last-of-type {
  margin-bottom: 20px;

  font-family: Hind Madurai;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  opacity: 1;
}

.text-wrapper .include-after::after {
  margin-left: 5px;
  content: "$22.55";
  font-family: Hind Madurai;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  opacity: 0.7;
}

.cayenne-chocolate h5 {
  margin-top: 90px;
}

.sweet-corn h5 {
  margin-top: 90px;
}

/* Feedbacks */

.feedbacks {
  padding-top: 40px;
  display: inline-block;
}

.list-group1 {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 46px;
  padding: 0;
  display: inline-block;
  display: flex;
  text-align: left;
}

.inside-list1 {
  margin: 0;
  margin-right: 11px;
  padding: 0;
}
.inside-list1 img {
  margin: 0;
  padding: 0;
  width: 59px;
  height: 58px;
}

.inside-list2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inside-list2 h6 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.inside-list2 p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 14px;
  opacity: 0.7;
}

.feedback-text {
  margin-bottom: 56px;
  width: 322px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.feedback-text img {
  margin: 4px;
}

.list-group2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.list-group2 a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list-group2 a:hover {
  opacity: 0.8;
}

.list-group2 a:active {
  opacity: 0.6;
}

.list-group2 a:nth-child(1) {
  display: inline-block;
  width: 14px;
  height: 14px;
}

.list-group2 a:nth-child(2) {
  width: 35px;
  height: 35px;
}
.list-group2 a:nth-child(3) {
  width: 58px;
  height: 58px;
}
.list-group2 a:nth-child(4) {
  width: 35px;
  height: 35px;
}
.list-group2 a img:nth-child(4) {
  width: 35px;
  height: 35px;
}
.list-group2 a:nth-child(5) {
  width: 14px;
  height: 14px;
}

/**** Download Menu ****/

.download-menu {
  margin: 0;
  padding: 0;
  background: #f8edf0;
}

.download-menu-container {
  position: relative;
  padding: 90px 0 150px;
}

.phone {
  top: 59px;
  position: absolute;
  width: 305px;
  height: 627px;

  z-index: 99;
}

.phone img {
  margin: 0;
}

.app-links {
  margin: 0;
  margin-left: 440px;
  padding: 0;

  width: 621px;
}

.app-links h6 {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
}

.app-links p {
  margin: 0;
  margin-bottom: 31px;
  width: 607px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  opacity: 0.7;
}

.app-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .app-links ul li {
} */

.app-links li a {
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.app-links li a:hover {
  opacity: 0.8;
}

.app-links li a:active {
  opacity: 0.6;
}
.app-links ul li a img {
  margin: 0;
  margin-right: 10px;
  padding: 8px;
  background-color: #ffffff;
}

.app-links span {
  margin: 0;
  margin-left: -11px;
  display: flex;
  align-items: center;
}

.app-links span a {
  margin: 0;
}

.app-links span a:hover {
  opacity: 0.8;
}

.app-links span a:active {
  opacity: 0.6;
}

.app-links span a img {
  margin: 0;
}

/**** Questions Section ****/

.questions {
  margin: 0;
}

.questions-container {
  margin: 0 auto;
  padding: 150px 0 71px;
}

.questions-container h6 {
  margin: 0 auto;
  margin-bottom: 36px;
  padding-bottom: 20px;
  width: 522px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 637px;

  display: flex;
  flex-wrap: wrap;
}

#phone-number {
  display: inline-block;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 37px;
  padding: 29px;
  padding-left: 25px;

  width: 303px;

  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  border: 1px solid #ffa3a3;
  border-radius: 5px;
  box-sizing: border-box;
}

#phone-number:hover,
#question-type:hover,
#text-field:hover,
.footer-list4 input:hover {
  box-shadow: 0 0 15px 5px #ffa3a3;
  transition: ease-in-out 0.4s;
}

#phone-number:focus,
#question-type:focus,
#text-field:focus,
.footer-list4 input:focus {
  box-shadow: 0 0 15px 5px #ffa3a3;
}

#question-type {
  display: inline-block;
  margin: 0;
  margin-bottom: 37px;
  padding: 29px;
  padding-left: 25px;
  width: 303px;

  font-size: 14px;
  line-height: 16px;

  outline: none;
  border: 1px solid #ffa3a3;
  border-radius: 5px;
  box-sizing: border-box;
}

#text-field {
  margin: 0;
  padding: 29px;
  padding-left: 25px;
  width: 637px;

  font-size: 14px;
  line-height: 16px;

  outline: none;
  border: 1px solid #ffa3a3;
  border-radius: 5px;
  box-sizing: border-box;
}

#btn {
  padding: 27px 38px;
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  bottom: 0;
  right: 0;

  color: #ffffff;
  background: #d64374;
  border-radius: 5px;
  border: none;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  opacity: 0.6;
}

/******* FOOTER *******/

.site-footer {
  margin: 0;

  background: #0a0808;
}

.footer-container {
  padding: 70px 0 114px;
  display: flex;
  align-items: center;
  align-items: baseline;
}

.footer-list1 {
  margin: 0;
  margin-right: 37px;
  padding: 0;
  width: 207px;
  list-style: none;
}

.footer-list1 li {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.7;
}

.footer-list1 a {
  width: 79px;
  height: 79px;
  text-decoration: none;
}

.footer-list1 a:hover {
  opacity: 0.8;
}

.footer-list1 a:active {
  opacity: 0.6;
}

.footer-list1 img {
  margin: 0;
  padding: 0;
}

.social-medias {
  font-size: 12px;
  line-height: 14px;
}

.social-medias span {
  margin-bottom: 10px;
  display: block;
}

.social-medias a {
  padding-left: 10px;
}

.social-medias a:first-of-type {
  padding-left: 0;
}

/* Footer list-2 */

.footer-list2 {
  margin: 0;
  margin-top: 70px;
  margin-right: 132px;
  padding: 0;
  list-style: none;
}

.footer-list2 li {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.footer-list2 a {
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: #ffffff;
  opacity: 0.7;
}

.footer-list2 a:hover {
  opacity: 0.8;
}

.footer-list2 a:hover {
  opacity: 0.6;
}

/* Footer list-3 */

.footer-list3 li:last-of-type {
  margin-bottom: 0;
}

/* Footer list-4 */

.footer-list4 {
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.footer-list4 p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer-list4 label {
  color: #ffffff;
}

.footer-list4 input {
  margin: 0;
  margin-bottom: 17px;
  padding: 20px;
  padding-left: 32px;

  width: 388px;
  font-size: 14px;
  line-height: 16px;

  background-color: #000;
  color: #ffffff;
  outline: none;
  border: 2px solid rgba(214, 67, 116, 0.6);
  box-sizing: border-box;
  border-radius: 5px;
}

/* .footer-list4 button {
} */

.payment-methods a {
  margin: 0;
  margin-left: 15px;
}

.payment-methods a:first-of-type {
  margin-left: 0;
}

.footer-form {
  position: relative;
}

#footer-btn {
  padding: 18px 18px;

  position: absolute;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  bottom: 19px;
  right: 0;

  color: #ffffff;
  background: #d64374;
  border-radius: 5px;
  border: none;

  z-index: 99;
}

#footer-btn:hover {
  opacity: 0.8;
}

#footer-btn:active {
  opacity: 0.6;
}
